@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.css-uttm9k:hover, .css-uttm9k[data-hover] {
  background-color: white !important;
}
.css-15e9f73:hover, .css-15e9f73[data-hover] {
  background: white !important;
}
.css-1t0v89k:hover, .css-1t0v89k[data-hover] {
  background: white !important;
}
.st0{fill:#3B5998;}
	.st1{fill:#FFFFFF;}

input{
  all: unset;
}

.borderBottom{
  border-bottom: 1px solid #00000015;
}

.borderTop{
  border-top: 1px solid rgba(118,121,127,0.3)
}

.borderFull{
  border: 1px solid rgba(118,121,127,0.3)
}
.borderBottomHover{
  border-bottom: 2px solid black;
  width: 100%;
  overflow: hidden;
}

.click {
  transition: 500ms;
  left: 0;
}

.hover:hover .hoverTwo div{
    opacity: 1;
    left: 0
}
.hover:hover p {
  color: black;
}

.height {
  height: calc(100vh - 80%);
}
.heightTwo {
  height: calc(100vh - 80%) !important;
}
.swiper-button-prev {
  border: 1px solid rgba(118,121,127,0.3) !important;
  background: #ffffff50 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  background-image: url('../public/images/prev.png') !important;
  background-size: 70% !important;
  background-repeat: no-repeat !important;
  background-position: 5px 6px !important;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: '' !important;
}
.swiper-button-next {
  border: 1px solid rgba(118,121,127,0.3) !important;
  background: #ffffff50 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  background-image: url('../public/images/next.png') !important;
  background-size: 70% !important;
  background-repeat: no-repeat !important;
  background-position: 7px 6px !important;
}