@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.css-uttm9k:hover, .css-uttm9k[data-hover] {
  background-color: white !important;
}
.css-15e9f73:hover, .css-15e9f73[data-hover] {
  background: white !important;
}
.css-1t0v89k:hover, .css-1t0v89k[data-hover] {
  background: white !important;
}
.st0{fill:#3B5998;}
	.st1{fill:#FFFFFF;}

input{
  all: unset;
}

.borderBottom{
  border-bottom: 1px solid #00000015;
}

.borderFull{
  border: 1px solid rgba(118,121,127,0.3)
}